* {
    margin: 0px;
    padding: 0px;
}

footer {
    //display: block;
    border-top: 3px solid black;
    .info-footer{
        display: flex;
        justify-content: space-around;
        text-align: center;
        padding: 40px 200px;
        h6{
            font-weight: bolder;
        }
        a{
            color: blueviolet;
            font-weight: bold;
        }
    }

    .datos-contacto {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        background-color: black;
        padding: 15px;

        h5 {
            color: blueviolet;
            padding: 15px 0px;
        }
        .card-footer-nosotros {
            grid-column: 1/2;
            grid-row: 1/2;
            @include listado-footer;
        }

        .card-footer-informacion {
            grid-column: 2/3;
            grid-row: 1/2;
            @include listado-footer;
        }

        .card-footer-ayuda {
            grid-column: 3/4;
            grid-row: 1/2;
            @include listado-footer;

            .boton-ayuda {
                a {
                    @include botones
                }

            }
        }

        .card-footer-seguinos {
            grid-column: 4/5;
            grid-row: 1/2;
        }
    }
    .parrafo-footer{
        padding: 20px;
        text-align: center;
        background-color: black;
        color: white;
    }
}