.collapse{
    margin-left: 30px;
    border: 2px solid #00ff15;
}
.encabezado{
    background-color: #702CF6;
    margin: 15px 0px;
    align-items: center;
    text-align: center;
    /* border: 2px solid red; */
}
.fondo-principal {
    height: 400px;
    /* margin: 10px 0px; */
    background-image: url(../img/fondo-principal.webp);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
header{
    border: 1px solid rgb(24, 170, 180);

}