@import "../utilities/variables";


.contenedor-titulo {
    background-color: #535353;
    color: aliceblue;

    .titulo-principal {
        padding: 15px 40px;
        color: $color-titulo;

        span {
            color: yellow;
        }
    }

    .sub-titulo {
        padding: 15px 40px;
        color: #c6d66a;
        font-weight: 500;
        font-size: large;
    }
}

.seccion-principal {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 200px);
    gap: 35px;
    margin: 40px;

    .banner {
        display: flex;
        justify-content: center;
        background-color: rgba(120, 121, 126, 0.986);
        border-radius: 5px;
        grid-column: 1/2;
        grid-row: 1/5;
        padding: 30px 0px;
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
        color: whitesmoke;

        ul {
            list-style-type: none;
            border: 2px solid green;
            justify-items: center;

            li {
                border: 2px solid red;
                margin: 5px;

                a {
                    text-decoration: none;
                    color: whitesmoke;
                    border: 2px solid yellow;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }
        }
    }

    .ofertas {
        /* border: 3px solid red; */
        grid-column: 2/5;
        grid-row: 1/3;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        padding: 10px;
        //background-color: gray;
        border-radius: 5px;

        .card {
            background-size: cover;
            background-position: center center;
            border: 4px solid purple;
        
        .texto{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px;
            p{
                color: rebeccapurple;
                font-size: large;
                font-weight: 400;
            }
        }
    }
    }

    .otros-productos {
        /* border: 3px solid red; */
        grid-column: 2/5;
        grid-row: 3/5;
        background-color: gray;
        border-radius: 5px;
    }
}