@media (max-width: 600px) {
    body{
        background-color: red;
    }
    main{
        .seccion-principal{
            display: block;
        }
    }
    header{
        .contenedor-header{
            justify-items: center;
            justify-content: center;
            text-align: center;
        }
    }
    main{
        .contenedor-titulo{
            justify-items: center;
        }
    }
    /* Estilos para pantallas de 600px o menos */
}